@charset "utf-8";

/* 共通 */
.container {
  width: 1000px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  /* width: 100%; */
}

.menu-list {
  display: flex;
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
}

/* Main */
